In [1]:
import neo4j

import pandas as pd

from IPython.display import display

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
import psycopg2

In [4]:
import sqlalchemy

# Functions

In [5]:
def database_wipe():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [6]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [7]:
def my_neo4j_nodes_relationships():
    "print all the nodes and relationships"
   
    print("-------------------------")
    print("  Nodes:")
    print("-------------------------")
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    display(df)
    
    print("-------------------------")
    print("  Relationships:")
    print("-------------------------")
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    display(df)
    
    density = (2 * number_relationships) / (number_nodes * (number_nodes - 1))
    
    print("-------------------------")
    print("  Density:", f'{density:.1f}')
    print("-------------------------")

# Libya DTM

In [8]:
df=pd.read_excel('libyadtm.xlsx',sheet_name="Migrants flow data",header=1)

In [9]:
df.columns = [c.replace("\n", "_") for c in df.columns]

In [10]:
list(df.columns)

['Month',
 'Week Of Interview',
 'Week Day',
 'Admin0',
 'Admin1_Geodivision',
 'Admin2_Region',
 'Admin3_Baladiya',
 'Admin4_Muhalla',
 'FMP Location_Name',
 'Baladiya Pcode',
 'Muhalla Pcode',
 'Location_Type',
 'Location_Classification',
 'Longitude_Location',
 'Latitdue_Location',
 'Arrivals yesterday',
 '1st Nationality of arrivals',
 '2nd Nationality of arrivals',
 '3rd Nationality of arrivals',
 '1st counttry of planned destination for arrivals',
 '2nd counttry of planned destination for arrivals',
 '3rd counttry of planned destination for arrivals',
 'Main last location of arrivals',
 'Main transportation type for arrivals',
 'Departures yesterday',
 '1st Nationality of departures',
 '2nd Nationality of departures',
 '3rd Nationality of departures',
 '1st counttry of planned destination for departures',
 '2nd counttry of planned destination for departures',
 '3rd counttry of planned destination for departures',
 'Main next location of arrivals',
 'Main transportation type for departures',
 '_id',
 '_index2',
 '_submission__id']

In [11]:
df.rename({'Month':'interview_month',
                 'Week Of Interview':'interview_week',
                 'Week Day': 'interview_dow',
                 'Admin0':'country',
                 'Admin1_Geodivision':'geodivision',
                 'Admin2_Region':'region',
                 'Admin3_Baladiya':'baladiya',
                 'Admin4_Muhalla':'muhalla',
           'Arrivals yesterday':'arrivals_yest',
                 'FMP Location_Name':'fmp_name',
           'Baladiya Pcode':'baladiya_pcode',
           'Muhalla Pcode':'muhalla_pcode',
                 'Longitude_Location':'lon',
                 'Latitdue_Location':'lat',
               '1st Nationality of arrivals':'arr_nation1',
           '2nd Nationality of arrivals':'arr_nation2',
           '3rd Nationality of arrivals':'arr_nation3',
           'Departures yesterday':'deps_yest',
           '1st Nationality of departures':'deps_nation1',
           '2nd Nationality of departures':'deps_nation2',
           '3rd Nationality of departures':'deps_nation3',
                   '1st counttry of planned destination for arrivals': 'arr_dest1', 
                 '2nd counttry of planned destination for arrivals': 'arr_dest2',
                 '3rd counttry of planned destination for arrivals': 'arr_dest3',
                 'Main last location of arrivals': 'arriving_from',
                 'Main transportation type for arrivals': 'arr_main_transport',
                '1st counttry of planned destination for departures': 'deps_dest1', 
                 '2nd counttry of planned destination for departures': 'deps_dest2',
                 '3rd counttry of planned destination for departures': 'deps_dest3',
                 'Main next location of arrivals': 'departing_to',
                 'Main transportation type for departures': 'deps_main_transport'
    
},axis=1,inplace=True)

In [12]:
df.columns=[c.lower() for c in df.columns]

In [13]:
df

,interview_month,interview_week,interview_dow,country,geodivision,region,baladiya,muhalla,fmp_name,baladiya_pcode,...,deps_nation2,deps_nation3,deps_dest1,deps_dest2,deps_dest3,departing_to,deps_main_transport,_id,_index2,_submission__id
0,2020-01-01,2020-01-05,Sunday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,NaN,NaN,Libya,NaN,NaN,Ejdabia,Bus,1849707,2263,1849707
1,2020-01-01,2020-01-05,Monday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,NaN,NaN,Libya,NaN,NaN,Ejdabia,Bus,1849707,2264,1849707
2,2020-01-01,2020-01-05,Tuesday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,NaN,NaN,Libya,NaN,NaN,Ejdabia,Bus,1849707,2265,1849707
3,2020-01-01,2020-01-05,Wednesday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,NaN,NaN,Libya,NaN,NaN,NaN,Bus,1849707,2266,1849707
4,2020-01-01,2020-01-05,Thursday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,NaN,NaN,Libya,NaN,NaN,Matruh,Bus,1849707,2267,1849707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,2020-02-01,2020-02-23,Thursday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,Sudan,NaN,Libya,Egypt,NaN,Tobruk,Bus,2240897,2785,2240897
635,2020-02-01,2020-02-23,Sunday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,Sudan,NaN,Libya,Egypt,NaN,Ejdabia,Bus,2240897,2781,2240897
636,2020-02-01,2020-02-23,Monday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,Sudan,NaN,Libya,Egypt,NaN,Ejdabia,Bus,2240897,2782,2240897
637,2020-02-01,2020-02-23,Tuesday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,Sudan,NaN,Libya,Egypt,NaN,Ejdabia,Bus,2240897,2783,2240897
638,2020-02-01,2020-02-23,Wednesday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,Sudan,NaN,Libya,Egypt,NaN,Ejdabia,Bus,2240897,2784,2240897

In [14]:
arrivals=df[['interview_month', 'interview_week', 'interview_dow', 'country',
       'geodivision', 'region', 'baladiya', 'muhalla', 'fmp_name',
       'baladiya_pcode', 'muhalla_pcode', 'location_type',
       'location_classification', 'lon', 'lat', 'arrivals_yest', 'arr_nation1',
       'arr_nation2', 'arr_nation3', 'arr_dest1', 'arr_dest2', 'arr_dest3',
       'arriving_from', 'arr_main_transport','_id']]

In [15]:
deps=df[['interview_month', 'interview_week', 'interview_dow', 'country',
       'geodivision', 'region', 'baladiya', 'muhalla', 'fmp_name',
       'baladiya_pcode', 'muhalla_pcode', 'location_type',
       'location_classification', 'lon', 'lat','deps_yest', 'deps_nation1',
       'deps_nation2', 'deps_nation3', 'deps_dest1', 'deps_dest2',
       'deps_dest3', 'departing_to']]

In [16]:
deps=deps[deps['deps_yest']!=0]
arrivals=arrivals[arrivals['arrivals_yest']!=0]
#take out rows w/ 0

# load to postgres

In [17]:
from sqlalchemy import create_engine

In [18]:
db = sqlalchemy.create_engine('postgresql://postgres:ucb@postgres:5432/postgres')
conn = db.connect()

In [19]:
arrivals.to_sql('arrivals', con=conn, if_exists='replace', index=False)

In [20]:
deps.to_sql('departures', con=conn, if_exists='replace', index=False)

In [21]:
arrivals

,interview_month,interview_week,interview_dow,country,geodivision,region,baladiya,muhalla,fmp_name,baladiya_pcode,...,arrivals_yest,arr_nation1,arr_nation2,arr_nation3,arr_dest1,arr_dest2,arr_dest3,arriving_from,arr_main_transport,_id
0,2020-01-01,2020-01-05,Sunday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,5.0,Egypt,Sudan,NaN,Libya,Egypt,NaN,Matruh,Bus,1849707
1,2020-01-01,2020-01-05,Monday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,4.0,Egypt,Sudan,NaN,Libya,Egypt,NaN,Tobruk,Bus,1849707
3,2020-01-01,2020-01-05,Wednesday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,2.0,Egypt,Sudan,NaN,Libya,Egypt,NaN,Tobruk,Bus,1849707
4,2020-01-01,2020-01-05,Thursday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,3.0,Egypt,Sudan,NaN,Libya,Egypt,NaN,Ejdabia,Bus,1849707
5,2020-01-01,2020-01-19,Monday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,5.0,Egypt,Sudan,NaN,Egypt,NaN,NaN,Tobruk,Bus,1950994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,2020-02-01,2020-02-23,Thursday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,4.0,Egypt,NaN,NaN,Libya,Egypt,NaN,Matruh,Bus,2240897
635,2020-02-01,2020-02-23,Sunday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,3.0,Egypt,NaN,NaN,Libya,Egypt,NaN,Matruh,Bus,2240897
636,2020-02-01,2020-02-23,Monday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,2.0,Egypt,NaN,NaN,Libya,Egypt,NaN,Ejdabia,Bus,2240897
637,2020-02-01,2020-02-23,Tuesday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,2.0,Egypt,NaN,NaN,Libya,Egypt,NaN,Tobruk,Bus,2240897
638,2020-02-01,2020-02-23,Wednesday,Libya,East,Tobruk,Tobruk,Omar Mukhtar,Aladm,LY010403,...,10.0,Egypt,NaN,NaN,Libya,Egypt,NaN,Matruh,Bus,2240897

# Neo4j

In [22]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))

In [23]:
session = driver.session(database="neo4j")

In [34]:
def arrivals_create_relationship(muhalla, arriving_from, arr_dest1, arr_dest2, arr_dest3):
    "create relationships between reported paths"

    query = """
    MERGE (c:Camp {name: $muhalla})
    """

    if arriving_from is not None:
        query += """
        MERGE (f:Camp {name: $arriving_from})
        MERGE (f)-[:ARRIVED_AT]->(c)
        """

    if arr_dest1 is not None:
        query += """
        MERGE (d1:Country {name: $arr_dest1})
        MERGE (c)-[:DEPARTING_TO]->(d1)
            """

    if arr_dest2 is not None:
        query += """
        MERGE (d2:Country {name: $arr_dest2})
        MERGE (c)-[:DEPARTING_TO]->(d2)
                """

    if arr_dest3 is not None:
        query += """
        MERGE (d3:Country {name: $arr_dest3})
        MERGE (c)-[:DEPARTING_TO]->(d3)
                    """

    query += "RETURN *"

    session.run(query, muhalla=muhalla, arriving_from=arriving_from, arr_dest1=arr_dest1, arr_dest2=arr_dest2, arr_dest3=arr_dest3)

# Example usage
rows = conn.execute('SELECT muhalla, arriving_from, arr_dest1, arr_dest2, arr_dest3 FROM arrivals').fetchall()

for row in rows:
    muhalla = row['muhalla']
    arriving_from = row['arriving_from']
    arr_dest1 = row['arr_dest1']
    arr_dest2 = row['arr_dest2']
    arr_dest3 = row['arr_dest3']
    
    arrivals_create_relationship(muhalla, arriving_from, arr_dest1, arr_dest2, arr_dest3)

In [35]:
   query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
df2 = my_neo4j_run_query_pandas(query)
df2

,node_name_1,node_1_labels,relationship_type,node_name_2,node_2_labels
0,Aafogas,[Camp],DEPARTING_TO,Italy,[Country]
1,Aafogas,[Camp],DEPARTING_TO,Libya,[Country]
2,Agadez,[Camp],ARRIVED_AT,Al Qatrun,[Camp]
3,Al Jabal Al Gharbi,[Camp],ARRIVED_AT,Al baladiyah,[Camp]
4,Al Qatrun,[Camp],DEPARTING_TO,France,[Country]
...,...,...,...,...,...
186,Zuwayla,[Camp],DEPARTING_TO,Italy,[Country]
187,Zuwayla,[Camp],DEPARTING_TO,Libya,[Country]
188,Zuwayla,[Camp],DEPARTING_TO,United Kingdom,[Country]
189,Zuwayla,[Camp],DEPARTING_TO,United States,[Country]
190,Zwara,[Camp],ARRIVED_AT,Al gharbiyah,[Camp]